.contect {
    background-color: darkseagreen;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: end;
}

.contect .t-wrap {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.lists {
    padding: 20px;
    text-align: start;
}